import React, { Component } from 'react';
// import PropTypes from 'prop-types';

import './{{ properCase name }}.scss';

class {{ properCase this.name }} extends Component {
  componentDidMount() {
  }

  componentWillUnmount() {
  }

  render() {
    return (
      <div className="{{dashCase name}}-component">
        <h1>{{ properCase this.name }}</h1>
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {
};
{{ properCase name }}.defaultProps = {
};

export default {{ properCase name }};
